# Application requirements
flask
flask-restplus==0.12.1
flask-sqlalchemy==2.3.1
pytest-flask==0.14.0
freezegun
delorean
faker
pyjwt
cryptography==41.0.4
parse
Werkzeug==0.16.1
itsdangerous==2.0.1

pytest
SQLAlchemy